<div class="container">
    <h1>Eat-da-burger</h1>
    <div class="col-md-6 text-center">
        <div class="row">
            {{#each burger_data}}
            {{#unless devoured}}
            <div class="col-md-9 text-center">
               {{this.id}}. {{this.burger_name}}
            </div>
            <div class="col-md-3 text-center">
                <form class="devour-form">
                    <input type="text" class="burger_id" value={{this.id}} >
                    <button type="submit">Devour It</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
    <div class="container">
        <form action="/burgers/create" method="POST">
        <input type="text" id="enter_text" name="burger_name">
        <button type="submit">
            enter burger to eat!
        </button>
        </form>
    </div>
</div>
